%h1 Tasks#index
%p Find me in app/views/tasks/index.html.haml

= link_to "New Task", new_task_path
- @tasks.each do |task|
    = link_to task.title, task_path(task)
    %p= task.location
    %p= task.budget

